{% extends 'base.html.twig' %}
{% set path_name='app_login' %}
{% set params={} %}
{% block title %} - Log in!{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="card p-5 mt-5 col-lg-8 col-md-12 col-sm-12 offset-lg-2 ">
        <h1 class=" mb-3 text-center">{{ 'Please sign in!'|trans }}</h1>
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
                <div class="mb-3 bg-info">
                   <p>You are already logged in as {{ app.user.username }}, do you wish to <a href="{{ path('app_logout') }}">Logout</a> ?</p>
                </div>
            {% endif %}
            <label for="inputEmail">{{ 'Email'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
            <label for="inputPassword">{{ 'Password'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        
            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html
        
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        
            <button class="btn btn-primary my-3 float-right" type="submit">
                {{ 'Sign in'|trans }}
            </button>
        </form>
    </div>
</div>
{% endblock %}
