{% extends 'base.html.twig' %}
{% set path_name='app_register' %}
{% set params={} %}
{% block title %} - Register{% endblock %}

{% block main %}
<div class="container-fluid mt-5 pt-lg-5">
    <div class="card px-lg-5 py-2 mt-lg-5 col-lg-8 col-md-12 col-sm-12 offset-lg-2 ">
        <h1 class="h3 mb-3 text-center">Register</h1>
        {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                {{ form_row(registrationForm.firstName, {'attr':{
                    'class':'form-control'
                }}) }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                {{ form_row(registrationForm.lastName, {
                    'attr':{
                        'class':'form-control'
                }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    {{ form_row(registrationForm.email, {'attr':{
                        'class':'form-control'
                    }}) }}
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password',
                        'attr':{
                            'class':'form-control'
                        }}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-check-inline">
                {{ form_row(registrationForm.agreeTerms, {
                    label:'Agree Terms',
                    'label_attr': {'class':'form-check-label pr-2'},
                    'attr':{
                    'class':'form-check-input'
                }}) }}
                </div>
            </div>
            <div class="col-12 mt-3 text-center">
            <button type="submit" class="btn btn-primary text-center">Register</button>
            </div>
        </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
