<ul>
    {% for grandChild in child.children %}
        <li class="comment-children">
            <div class="comment-avatar">
                <img src="{{ grandChild.author.profilePic ? asset(grandChild.author.profilePic.thumbPath) : asset('build/img/user-regular.svg') }}" alt="">
            </div>
            <div class="comment-details">
                <a href="#" data-toggle="modal" data-id="{{ grandChild.author.id }}" data-target="{{ '.profile'~grandChild.author.id}}"> <h4 class="comment-author">{{  grandChild.author.firstName~ ' '~grandChild.author.lastName}} </h4></a>
                <span>{{ grandChild.creationDateTime|date('d/m/Y') }} à {{ grandChild.creationDateTime|date('H:m') }}</span>
                <p>
                    {{ grandChild.message}}
                </p>
            </div>
        </li>
    {% endfor %}
</ul>