<!-- Masthead-->
<header class="masthead bg-header text-white text-center">
{#    <div class="container ">#}
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0 mt-sm-0 pt-sm-0">SnowTricks</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i aria-hidden="true" class="fas fa-star" role="img"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar " src="{{ asset('build/img/snowboard-and-mountain.jpg') }}" alt="" />
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light my-sm-5 ">Take The Ride Now</p>
        <a href="#portfolio" class="bg-dark mt-2 py-2 px-3" aria-label="Show Tricks List section"><i aria-hidden="true" class="fas fa-angle-double-down fa-lg"></i></a>
{#    </div>#}
</header>