<nav class="navbar  navbar-expand-lg text-uppercase fixed-top align-items-center" id="mainNav" >
    <a class="navbar-brand js-scroll-trigger" href="{{path('index')}}">SnowTricks</a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars" aria-hidden="true"></i>
        <span class="sr-only">Menu</span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarResponsive">
        <ul class="navbar-nav ml-auto align-items-lg-center mt-0">
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-lg-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('index') }}">Home</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-lg-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('trick_index') }}">Tricks</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item mx-0 mx-lg-1">
                    <div class="dropdown">
                        <button type="button" class="btn bg-transparent text-white-50 dropdown-toggle pl-0 " data-toggle="dropdown">
                            Welcome {{ app.user.firstName ? app.user.firstName : app.user.username}}
                        </button>
                        <div class="dropdown-menu w-100 text-center">
                            <a class="dropdown-item" href="{{ path('user_account',{'id':app.user.id}) }}">My Account</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-lg-3  px-0 px-lg-3 rounded js-scroll-trigger js-scroll" href="{{ path('app_login') }}">Sign In</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-lg-3  px-0 px-lg-3 rounded js-scroll-trigger js-scroll" href="{{ path('app_register') }}">Sign Up</a>
                </li>
            {% endif %}
           {% include '_international.html.twig' %}
        </ul>
    </div>
</nav>