<div class="d-lg-flex d-sm-block justify-content-start align-items-center col-lg-10 col-sm-12 bg-dark py-2 px-0 mx-0 ">
		{% for medium in media %}
				<div class="mx-2 my-2 d-lg-flex border  col-lg-3  border-dark" data-toggle="modal" data-target="{{'#image-'~loop.index0}}">
						<img src="{{ medium.thumbPath }}" class="img-fluid  align-self-center" alt="" >
				</div>
				<div class="modal" id="{{ 'image-'~loop.index0 }}">
						<div class="modal-dialog">
								<div class="modal-content">
										<div class="modal-body">
												<img src="{{ medium.mediumPath }}" class="img-fluid" alt="">
										</div>
								</div>
						</div>
				</div>
		{% endfor %}
</div>