{{ form_start(formMediaImage) }}
<div class="row">
    <div class="col-12 mb-3">
        {% set label = medium ? medium.name : 'ChoosePic' %}
        <div class="custom-file">
            {{ form_row(formMediaImage.media_file, {
                'attr': {
                    'class' :'form-control file-img custom-file-input trick-highlight  border-dark'
                }
            })
            }}
            {{ form_label(formMediaImage.media_file, label|default(label), { 'label_attr': { 'class': 'custom-file-label small' } }) }}
        </div>
    </div>
    <div class="col-12 text-right">
        <button class="btn btn-primary custom-file-control">
            {{ button_label|default('Upload') }}
        </button>
    </div>
</div>
{{ form_end(formMediaImage) }}
