<div class="modal fade" id="new_media_image" tabindex="-1" role="dialog" aria-labelledby="new_media_image_label" aria-hidden="true">
		<div class="modal-dialog" role="document">
				<div class="modal-content">
						<div class="container-fluid d-flex align-items-center">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
										</button>
								</div>
								<div class="modal-body">
										<h5>Add Image</h5>
										{{ render_esi(url('render_add_media_image_form', { 'image_box_id':image_box.id,'media_action':'new_media_image'})) }}
								</div>
						</div>
				</div>
		</div>
</div>