{% extends 'base.html.twig' %}
{% set path_name='image_box_index' %}
{% set params={} %}

{% block title %}Gallery index{% endblock %}

{% block main %}
<div class="container">
    <h1>Gallery index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_box in image_boxes %}
            <tr>
                <td>{{ image_box.id }}</td>
                <td>
                    <a href="{{ path('image_box_show', {'id': image_box.id}) }}">show</a>
                    <a href="{{ path('image_box_edit', {'id': image_box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#    <a href="{{ path('image_box_new') }}">Create new</a>#}
</div>
{% endblock %}
