<div class="">
	<a class="load-img btn btn-outline-primary" id="{{ 'load-more-img'~next }}" data-offset="{{next}}" data-id="{{ 'img-box-'~image_box.id}}" data-url="{{ path("image_media_list",{'id':image_box.id}) }}">
			<i class="fas fa-angle-right text-primary d-none d-lg-block" aria-hidden="true"></i>
			<i class="fas fa-angle-down text-primary mt-2 d-lg-none d-md-block" aria-hidden="true"></i>
	</a>
</div>
