<section class="py-5">
{#    <h1>{{ 'Gallery - '~ image_box.type }}</h1>#}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ include('image_box/_modal_form_add_image.html.twig') }}
        <button class="btn btn-primary" data-toggle="modal" data-target="#new_media_image"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Image</button>
    {% endif %}

<div class="container mt-5">
    <div class="carousel-container position-relative row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for medium in image_box.media %}
                <div class="carousel-item {% if loop.index0 == 0%} active" {% endif %} data-slide-number="{{ loop.index0 }}">
                    <img src="{{ medium.originalpath }}" class="d-block w-100" alt="" data-remote="{{ medium.originalpath }}" data-type="image" data-toggle="lightbox" data-gallery="example-gallery">
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- Carousel Navigation -->
        <div id="carousel-thumbs" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for media in image_box.media |batch(4)%}
                <div class="carousel-item {% if loop.index0 == 0%}  active {% endif %}">
                    <div class="row mx-0">
                    {% for medium in media %}
                        <div id="carousel-selector-{{ loop.index0 }}" class="thumb col-4 col-sm-2 px-1 py-2 {% if loop.index0 == 0%}  selected {% endif %}" data-target="#myCarousel" data-slide-to="{{ loop.index0 }}">
                            <img src="{{ medium.mediumpath }}" class="img-fluid" alt="">
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
            
            <a class="carousel-control-prev" href="#carousel-thumbs" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-thumbs" role="button" data-slide="next">
                <span class="carousel-control-next-icon text-black-50" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>
    </div> <!-- /row -->
</div> <!-- /container -->
</section>


