{% if image is defined%}
<form method="post" action="{{ path('image_delete', {'id': image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this trick?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
    <button class="btn modal-tool-item"><i class="far fa-trash-alt fa-sm" aria-hidden="true"></i></button>
</form>
{% endif %}
