{{ form_start(formImage, {'attr':{
    'class':'image-add',
}}) }}
<div class="row">
    <div class="col-md-12 mb-3">
        <div class="form-group">
        {{ form_widget(formImage.img_file) }}
        </div>
    </div>
 
</div>
{{ form_end(formImage) }}
