{% extends 'base.html.twig' %}
{% set path_name='image_index' %}
{% set params={} %}
{% block title %}Image index{% endblock %}

{% block main %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ThumbPath</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.name }}</td>
                <td><img src="{{ image.thumbPath }}" alt=""></td>
{#                <td>{{ image.mediumPath }}</td>#}
{#                <td>{{ image.originalPath }}</td>#}
                <td>
                    <a href="{{ path('image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('image_new') }}">Create new</a>
{% endblock %}
