{% extends 'base.html.twig' %}
{% set path_name='image_show' %}
{% set params={'id': image.id} %}
{% block title %}New Image{% endblock %}

{% block main %}
    <h1>Create new Image</h1>
    
    {{ include('image/_form.html.twig') }}
    
    <a href="{{ path('image_index') }}">back to list</a>
{% endblock %}

{% block title %}Image{% endblock %}

{% block main %}
    <h1>Image</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ image.name }}</td>
            </tr>
            <tr>
                <th>ThumbPath</th>
                <td>{{ image.thumbPath }}</td>
            </tr>
            <tr>
                <th>MediumPath</th>
                <td>{{ image.mediumPath }}</td>
            </tr>
            <tr>
                <th>OriginalPath</th>
                <td>{{ image.originalPath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('image_index') }}">back to list</a>

    <a href="{{ path('image_edit', {'id': image.id}) }}">edit</a>

    {{ include('image/_delete_form.html.twig') }}
{% endblock %}
