{% extends 'base.html.twig' %}
{% set path_name='index' %}
{% set params={} %}
{% block title %}{{ 'Hello %controller% !'|trans({'%controller%': controller_name }) }}{% endblock %}

{% block main %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container example-wrapper">
    <h1>{{ 'Hello %controller% !'|trans({'%controller%': controller_name }) }}✅</h1>
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Workspace/OC/Tests/myApp/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Workspace/OC/Tests/myApp/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
