<form method="post" action="{{ path('video_box_delete_media', {'videoBox': video_box.id, 'video': medium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video_box.id~medium.id) }}">
    <button class="btn text-info " aria-label="Delete"><i aria-hidden="true" class="far fa-trash-alt fa-sm edit-tool-item" title="Delete this Item?"></i></button>
</form>
