<iframe src="{{ 'https://www.youtube.com/embed/'~medium.providedId~'?autoplay=0' }}"
        width="150"
        height=""
        frameborder="0"
        allowfullscreen
        autoplay="1">
</iframe>