{#<div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">#}
		<iframe	src="{{ 'https://www.dailymotion.com/embed/video/'~medium.providedId~'?autoplay=0' }}"
            width="150"
            height=""
            frameborder="0" type="text/html"
            allowfullscreen
            allow="autoplay"
{#            style="width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden"#}
		        class="embed-responsive-item"
		>
		</iframe>
{#</div>#}