<div class="d-lg-flex d-sm-block justify-content-start align-items-center col-lg-10 col-sm-12 bg-dark py-2 px-0 mx-0 ">
		{% for medium in media %}
				<div class="mx-2 my-2 d-lg-flex border  col-lg-3  border-dark" data-toggle="modal" data-target="{{'#video-'~loop.index0}}" style="height:100px ">
						<img src="{{ medium.thumbUrl}}" class="img-fluid mw-100 h-auto align-self-center" alt="" >
				</div>
				<div class="modal" id="{{ 'video-'~loop.index0 }}">
						<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content">
									<div class="modal-body mb-0 p-0">
										<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
											{% include medium.player  %}
										</div>
									</div>
								</div>
						</div>
				</div>
		{% endfor %}
</div>