{{ form_start(formMediaVideo) }}
<div class="container w-100">
    <div class="form-group row">
        {% set name = medium ? medium.name : '' %}
    {{ form_widget(formMediaVideo.media_video.name,{
        'attr':{'placeholder':'Enter video name'},
        'value': name}) }}
    </div>
    <div class="form-group row">
        {% set url = medium ? medium.url : '' %}
    {{ form_widget(formMediaVideo.media_video.url,{
        'attr':{'placeholder':'Enter video url'},
        'value': url
    }) }}
    </div>
    <div class="row float-right">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(formMediaVideo) }}
</div>
