{% extends 'base.html.twig' %}

{% block title %}New VideoBox{% endblock %}

{% block main %}
    <h1>Create new VideoBox</h1>

    {{ include('video_box/_form.html.twig') }}

    <a href="{{ path('video_box_index') }}">back to list</a>
{% endblock %}
