<div class="">
	<a class="load-video btn btn-outline-primary" id="{{ 'next-video'~next }}" data-offset="{{next}}" data-id="{{ 'vid-box-'~video_box.id}}" data-url="{{ path("video_media_list",{'id':video_box.id}) }}">
			<i class="fas fa-angle-right text-primary d-none d-lg-block" aria-hidden="true"></i>
		<i class="fas fa-angle-down text-primary mt-2 d-lg-none d-md-block" aria-hidden="true"></i>
	</a>
</div>