<div class="col-lg-1 col-sm-12 ">
		<a class="load-video btn  btn-outline-primary" id="{{ 'previous-video'~previous }}" data-offset="{{previous}}" data-id="{{ 'vid-box-'~video_box.id}}" data-url="{{ path("video_media_list",{'id':video_box.id}) }}" >
				<i class="fas fa-angle-left text-primary d-none d-lg-block" aria-hidden="true"></i>
				<i class="fas fa-angle-up text-primary mt-2  d-lg-none d-md-block" aria-hidden="true"></i>
		</a>
</div>
