{% extends 'base.html.twig' %}
{% set path_name='video_new' %}
{% set params={} %}
{% block title %}New Video{% endblock %}

{% block main %}
    <h1>Create new Video</h1>

    {{ include('video/_form.html.twig') }}

    <a href="{{ path('video_index') }}">back to list</a>
{% endblock %}
