body {
  a {
    color: $link-color !important;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.container-tricks {
  width: 100%;
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
  background: $blocks-bg !important;
  //max-height: 10% !important;

  .navbar-brand {
    color: $link-color !important;
  }

  .navbar-nav {
    align-items: baseline;
  }

  .navbar-nav a {
    color: $link-color !important;
  }
}

.navbar-alert {
  margin-top: 6rem !important;
}

.nav-pills {
  a.nav-link {
    color: $link-color !important;
    font-weight: 600;
  }

  a.nav-link.active {
    color: #fff !important;
  }
}

@media (max-width: 576px) {
  .masthead {
    padding-top: 7rem !important;
    padding-bottom: 6rem;
  }

  .trick-show {
    .card-img-overlay {
      h1.card-title {
        font-size: 0.9rem !important;
      }
    }
  }
}

.bg-header {
  background: $header-bg-gradient, $header-bg-image no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header img {
  opacity: 0.9;
  padding: 1.5em;
  width: 25%;
  background-color: #fff;
  border-radius: 50%;
}

form.user .form-control-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
}

form.user .btn-user {
  font-size: 0.8rem;
  border-radius: 10rem;
  padding: 0.75rem 1rem;
}

.card {
  .card-img-overlay {
    background: $header-bg-gradient;
  }

  .trigger-show:hover {
    cursor: pointer;
  }

  .edit-tool {
    position: absolute;
    z-index: 10;
    right: 0.1rem;
    top: 0;
    opacity: 1;

    a.edit-tool-trick,
    button.btn.edit-tool-trick {
      line-height: 0;
      i.edit-tool-item {
        color: $link-color;

        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

/* .edit-image-tool{
  position: absolute;
  top: 0;
  right: 0;
  #trigger-edit-image {
    cursor: pointer;
    z-index: 25;
  }
  input[type=file] {
    width: 2px!important;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    z-index: 0;
    opacity: 0.0; !* Standard: FF gt 1.5, Opera, Safari *!
    filter: alpha(opacity=0); !* IE lt 8 *!
    -ms-filter: "alpha(opacity=0)"; !* IE 8 *!
    -khtml-opacity: 0.0; !* Safari 1.x *!
    -moz-opacity: 0.0; !* FF lt 1.5, Netscape *!
  }
} */

.copyright {
  background-color: $blocks-bg;
}

.card-header {
  max-height: 25%;
  position: relative;
}

/* ------/ Comments /------ */

.box-comments {
  padding: 2rem;
  background-color: #fff;
  margin-bottom: 3rem;

  .list-comments {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    span {
      color: #1e1e1e;
      font-style: italic;
    }

    a {
      color: $link-color;
    }

    li {
      padding-bottom: 0.5rem;

      ul {
        list-style: none;
      }
    }

    .comment-avatar {
      display: table-cell;
      vertical-align: top;

      img {
        width: 2rem;
        height: 2rem;
        opacity: 0.5;
      }
    }

    .comment-details {
      display: table-cell;
      vertical-align: top;
      padding-left: 25px;

      .comment-author {
        font-size: 1.3rem;
      }
    }

    .comment-children {
      margin-left: 0.5rem;
    }
  }

  .title-box {
    h2 {
      span,
      i {
        color: #1e1e1e;
        font-size: 0.8rem;
        font-style: italic;
        opacity: 0.8;
      }
    }
  }

  .form-comments {
    padding: 0.5rem;
    background-color: #fff;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

.modal-content {
  .card {
    .modal-tool,
    .edit-tool {
      position: absolute;
      z-index: 10;
      right: 1rem;
      top: 1rem;
      opacity: 1;

      .modal-tool-item,
      .edit-tool-item {
        color: #fff;

        &:hover {
          color: $link-hover-color;
        }
      }

      a i {
        line-height: 2.5rem;
      }
    }

    .image-edit-tool {
      position: absolute;
      width: 100%;
      z-index: 10;
      right: 0;
      top: 0;
      opacity: 1;
    }
  }
}
