<li class="nav-item mx-0 mx-lg-1 ">
		<div class="dropdown">
				<a class="nav-link dropdown-toggle small" href="#" id="dropdown-language" role="button"
				   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ app.request.locale|locale_name(app.request.locale)|u.title }}
				</a>
				<div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="dropdown-language">
						{% for locale in _supported_locales %}
								{% set parameters = params %}
								{% set parameters = { _locale:locale }|merge(parameters) %}
								<a class="dropdown-item text-center small " href="{{ path(path_name, parameters) }}">{{ locale|locale_name(locale)|u.title }}</a>
						{% endfor %}
				</div>
		</div>
</li>

