{% extends 'base.html.twig' %}
{% set path_name='index' %}
{% set params={} %}
{% block header %}
		{% include '/blocs_home/_header.html.twig' %}
{% endblock %}
{% block main %}
		{% include '/blocs_home/_portfolio.html.twig' %}
{% endblock %}
