<div class="col-lg-4 col-md-6 col-sm-12  mt-5 ">
		<div class="card h-100 ">
				<div class="card-body">
					<img  src="{{trick.highlight? asset(trick.highlight.mediumPath): asset('build/img/mountain.jpg') }}" class="card-img-top" alt="" >
				</div>
				<div class="card-footer bg-light  ">
						<div class="col-12">
								<a class="" href="{{ path('trick', {'slug':trick.slug}) }}"><h3 class="h5 text-info text-truncate  p-1">{{ trick.name }}</h3></a>
								{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
										<div class="edit-tool  d-flex justify-content-end ">
												{{ include('trick/_delete_form.html.twig') }}
												<a href="{{path('trick_edit',{'slug':trick.slug})}}" aria-label="Edit Trick {{ trick.name }}"><i aria-hidden="true" class="fas fa-pencil-alt fa-sm text-primary edit-tool-item "></i></a>
										</div>
								{% endif %}
						</div>
				</div>
		</div>
</div>
