<form class="p-0 m-0" method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this trick?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn edit-tool-trick p-0 m-0" aria-label="Delete"><i aria-hidden="true" class="far fa-trash-alt text-primary fa-sm edit-tool-item" title="Delete this Item?"></i></button>
</form>
