<div  class="w-100 mt-lg-4 p-sm-0">
    {{ form_start(formTrick) }}
    <div class="row">
        <div class="col-lg-12 text-right">
            <button class="btn btn-primary"> {{ button_label|default('Next') }}<i class="fa fa-angle-right ml-1"></i></button>
        </div>
    </div>
    <div class="row p-sm-0">
        <div class="col-lg-4 col-sm-12">
            <div class="">
                <img class="fileimg-trick_highlight_new w-100" src="{{ trick.highlight ? asset(trick.highlight.mediumPath) : 'https://picsum.photos/200' }}" alt="">
            </div>
            <div class="custom-file ">
                {{ form_widget(formTrick.highlight, {
                    'attr': {
                        'class' :'form-control file-img custom-file-input trick-highlight  border-dark'
                    },
                    'id': 'trick_highlight_new'
                })
                }}
                {{ form_label(formTrick.highlight, label|default('Choose Pic'), { 'label_attr': { 'class': 'custom-file-label' } }) }}
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
           
            <div class="form-group">
                {{ form_row(formTrick.name, {'attr':{
                    'class':'form-control trick-name'
                }}) }}
            </div>
            <div class="form-group">
                {{ form_row(formTrick.groupe, {'attr':{
                    'class':'form-control'
                }}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_row(formTrick.description, {'attr':{
            'class':'form-control trick-description'
        }}) }} </div>
{#    <div class="row">#}
{#        <button class="btn btn-primary">{{ button_label|default('Next') }}</button>#}
{#    </div>#}
    
    {{ form_end(formTrick) }}
</div>
