{% if next < total %}
		<a  id="{{ 'load-more-trick'~next }}" data-offset="{{next}}" data-url="{{ path("trick_list",{'target':target}) }}" class="load-more-trick btn btn-outline-primary my-5 px-3 py-2">
				<p class="font-weight-bolder text-uppercase">Load More</p>
				<i class="fas fa-angle-double-down" aria-hidden="true"></i>
		</a>
{% endif %}
{% if next > 8 %}
		<a class="btn btn-outline-primary my-5 py-2 px-3"  href="{{ target }}" aria-label="Go to Tricks List Top">
				<i class="fas fa-angle-double-up fa-lg" aria-hidden="true"></i>
				<p class="font-weight-bolder text-uppercase">Top</p>
		</a>
{% endif %}