{% set route = app.request.attributes.get('_route') %}
{% set routes = ['trick_edit','trick_add_media'] %}
<div class="row">
		<div class="col-12">
				<nav class="nav nav-pills flex-column flex-sm-row" id="v-pills-tab" >
						<a class="flex-sm-fill text-sm-center nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Images</a>
						<a class="flex-sm-fill text-sm-center nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Video</a>
				</nav>
				{% if is_granted('IS_AUTHENTICATED_FULLY') and route in routes %}
				<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{{ render_esi(url('image_box_edit', { 'id': trick.imageBox.id})) }}</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{ render_esi(url('video_box_edit', { 'id': trick.videoBox.id})) }}</div>
				</div>
				{% else %}
				<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">{{ render_esi(url('image_box_show', { 'id': trick.imageBox.id})) }}</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">{{ render_esi(url('video_box_show', { 'id': trick.videoBox.id})) }}</div>
				</div>
				{% endif %}
		</div>
</div>
