{% extends 'base.html.twig' %}
{% set path_name='trick_edit' %}
{% set params={'slug': trick.slug} %}
{% block title %} - Edit Trick{% endblock %}

{% block main %}
<div class="portfolio-modal trick-new" id="portfolioModalNew" tabindex="-1" role="dialog" aria-labelledby="{{'portfolioModalNewLabel'}}" aria-hidden="true">
   <div class="row mt-5">
    <a class="card-link col-6 text-left" href="{{ path('trick_index') }}">back to list</a>
    <form class="text-right col-6 " method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this trick?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
        <button class="btn btn-danger" aria-label="Delete">Delete</button>
    </form>
   </div>
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="row">
                <div class="col-12 ">
                <h1 class=" text-center">Edit Trick</h1>
                </div>
                <div class="card p-sm-0 m-sm-0 w-100">
                    <div class="card-body p-sm-0 m-sm-0 w-100 ">
                        <div class="container d-sm-block container-lg">
                            {{ include('trick/_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
