{% extends 'base.html.twig' %}
{% set path_name='trick_index' %}
{% set params={} %}
{% block title %} - Trick index{% endblock %}

{% block main %}
    {% set target = "#trick-box" %}
    <div class="container text-center  pt-lg-5 mt-lg-5" >
        <h1 id="trick-box">TRICKS</h1>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="btn btn-outline-primary mt-5"  href="{{ path('trick_new') }}"> <i class="fa fa-plus-circle" aria-hidden="true"></i>Add Trick</a>
        {% endif %}
        <div class="trick-box text-center" >
        {{include ('trick/_list.html.twig',{'target':target})}}
        </div>
    </div>
{% endblock %}

