{% extends 'base.html.twig' %}
{% set path_name='trick_new' %}
{% set params={} %}
{% block title %} - New Trick{% endblock %}
{% block main %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{#<div class="portfolio-modal modal trick-new" id="portfolioModalNew" tabindex="-1" role="dialog" aria-labelledby="{{'portfolioModalNewLabel'}}" aria-hidden="true">#}
<div class="portfolio-modal trick-new" id="portfolioModalNew" tabindex="-1" role="dialog" aria-labelledby="{{'portfolioModalNewLabel'}}" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="container">
                <h1 class=" text-center">Create New Trick</h1>
                <div class="row">
                    <div class="card w-100">
                        <div class="card-body">
                            <div class="container-fluid">
                            {{ include('trick/_form.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
