{% extends '/base.html.twig' %}
{% set path_name='user_account' %}
{% set params={'id':user.id} %}
{% block title %} - My account {% endblock %}
{% block main %}
<div class="portfolio-modal w-100" id="" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="container-tricks">
                <h1 class=" text-center">Edit Account</h1>
                    <div class="card w-100">
                        <div class="row pt-3 d-flex justify-content-center bg-secondary ">
                        <p class="text-white"><i class="fas fa-exclamation-triangle text-danger" aria-hidden="true"></i>The complete account edition feature will be available soon. For now you can upload a profile pic.</p>
                        </div>
                        <div class="row">
                        
                        <div class="col-lg-8 order-lg-2">
                            <ul class="nav nav-tabs mt-3">
                                <li class="nav-item">
                                    <a href="#" data-target="#edit" data-toggle="tab" class="nav-link active">Edition</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" data-target="#security" data-toggle="tab" class="nav-link">Sécurité</a>
                                </li>
                            </ul>
                            <div class="tab-content py-2">
                                <div class="tab-pane active" id="edit">
                                    <form role="form" method="post" id="edit-user" action="">
                                        <div class="form-group row">
                                            <label for="edit-firstname" class="col-lg-2 col-form-label form-control-label">FirstName</label>
                                            <div class="col-lg-9">
                                                <input class="form-control col-lg-9" id="edit-firstname" name="edit-firstname" readonly type="text" value="{{ user.firstName }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="edit-lastname" class="col-lg-2 col-form-label form-control-label">Lastname</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" readonly name="edit-lastname" id="edit-lastname" type="text" value="{{ user.lastName }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="edit-username" class="col-lg-2 col-form-label form-control-label">Username</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" readonly name="edit-username" id="edit-username" type="text" value="{{ user.userName }}" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-2 col-form-label form-control-label"></label>
                                            <div class="col-lg-9">
                                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                                <input type="submit" class="btn btn-primary" disabled value="Save Changes">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane" id="security">
                                    <form role="form" method="post" id="edit-user-password" action="">
                                        <h6>Change Password</h6>
                                        <div class="form-group row">
                                            <label for="former-user-pwd-pwd" class="col-lg-3 col-form-label form-control-label">Enter your current password</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" readonly name="former-user-pwd-pwd" id="former-user-pwd-pwd" type="password" value="">
                                            </div>
                                        </div>
                                        <p></p>
                                        <div class="form-group row">
                                            <label for="new-user-pwd" class="col-lg-3 col-form-label form-control-label">Enter your new password</label>
                                            <div class="col-lg-9">
                                                <input class="form-control" readonly name="new-user-pwd" id="new-user-pwd" type="password" value="">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <input type="reset" class="btn btn-secondary" value="Reset">
                                            <input type="submit" class="btn btn-primary" value="Send">
                                        </div>
                                    </div>
                                </form>
                                <form role="form" method="post" id="edit-user-email" action="">
                                    <h6>Change Email</h6>
                                    <div class="form-group row">
                                        <label for="former-user-pwd-email" class="col-lg-3 col-form-label form-control-label">Enter Password</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" readonly name="former-user-pwd-email" id="former-user-pwd-email" type="password" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="new-user-email" class="col-lg-3 col-form-label form-control-label">Enter new E-mail</label>
                                        <div class="col-lg-9">
                                            <input class="form-control" readonly name="new-user-email" id="new-user-email" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label form-control-label"></label>
                                        <div class="col-lg-9">
                                            <input type="reset" class="btn btn-secondary" value="Reset">
                                            <input type="submit" class="btn btn-primary" value="Send">
                                        </div>
                                    </div>
                                </form>
{#                                <a class="btn btn-danger" href="" data-toggle="modal" data-target="{{ '#userDeactivate'~user.id }}">Désactiver mon compte </a>#}
                                <a class="btn btn-danger" href="" data-toggle="modal" data-target="">Désactiver mon compte </a>
                                <div id="{{ 'userDeactivate'~user.id }}" class="modal" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Deactivate</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you really mean to deactivate your account?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <a type="button" href="#"  class="btn btn-primary">Deactivate</a>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-1 text-center">
                        <div class="container">
                        <h5 class="my-3">Bienvenue {{ user.firstName }}</h5>
                      {{ form_start(formPP) }}
                        <div class="mt-lg-4">
                            <img src="{{app.user.profilePic ? asset(app.user.profilePic.thumbPath):"//placehold.it/300" }}" class="fileimg-user_pic_new img-fluid" alt="">
        {#                    <h6 class="mt-2">Changer la photo</h6>#}
                        </div>
                        <div class="custom-file">
                            {{ form_widget(formPP.profilePic, {
                                'attr': {
                                    'class' :'form-control file-img custom-file-input user_pic border-dark',
                                },
                                'id': 'user_pic_new'
                            })
                            }}
                            {{ form_label(formPP.profilePic, label|default( app.user.profilePic ? asset(app.user.profilePic.name):'Choose Pic'), { 'label_attr': { 'class': 'custom-file-label' } }) }}
                        </div>
{#                        <div class="form-group ">#}
                            <button type="submit" value="Valider" id="submit" name="submit" class=" custom-file-control btn btn-block btn-primary"><i class="fa fa-fw fa-upload glyph" aria-hidden="true"></i></button>
{#                        </div>#}
                        {{ form_end(formPP) }}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}

    <script>
        // $('.file-img').on('change', function() {
        //     readUrl(this,'img');
        //     let fileName = $(this).val().split('\\').pop();
        //     console.log(fileName);
        //     $(this).next('.img-file-label').addClass("selected").html(fileName);
        // });
        // function readUrl(input,type) {
        //     console.log(input + '<br>'+ type);
        //     if (input.files && input.files[0]) {
        //         let reader = new FileReader();
        //         reader.onload = function (e) {
        //             if (type === 'img') {
        //                 $('.fileimg').attr('src', e.target.result);
        //             }
        //             else {
        //                 $('.filepdf').attr('src', e.target.result);
        //             }
        //         }
        //         reader.readAsDataURL(input.files[0]);
        //     }
        // }
        // $('.custom-file-input').on('change', function() {
        //     let fileName = $(this).val().split('\\').pop();
        //     $(this).next('.custom-file-label').addClass("selected").html(fileName);
        // });
        //
        // $("#submit").click(function () {
        //
        //     if ($("#edit-user")[0].checkValidity())
        //         // alert('sucess');
        //     else
        //         //Validate Form
        //         $("#edit-user")[0].reportValidity()
        //
        // });
    </script>
{% endblock %}